body {
    text-align: center;
    background-color: beige; 
}
h1 {
    size: 50px;
    color: blue;
}
.sidebar {
    width: 13%;
    margin-left: 2%;
    text-align: left;
    float: left;
    line-height: 40px;
    color: blue;
}
input {
    color: blue;
    width: 160px;
    height: 40px;
    margin-bottom: 20px;
}
.profile {
    width: 280px;
}
.tweetzone {
    line-height: 40px;
    text-align: left;
    margin-left: 17%;
}
b {
    color: blue;
}