body {
    text-align: center;
    background-color: beige; 
}
h1 {
    size: 50px;
    color: blue;
}
input {
    color: blue;
    width: 160px;
    height: 40px;
    margin-bottom: 20px;
}
.profile {
    width: 280px;
}
span {
    line-height: 40px;
    text-align: left;
}
div {
    margin-left: 5%;
}
b {
    color: blue;
}