body {
    text-align: center;
    background-color: gold; 
}
h1 {
    size: 50px;
    color: blue;
}
input {
    width: 160px;
    height: 40px;
}
span {
    line-height: 40px;
    text-align: left;
}
b {
    color: blue;
}